@import '../../style/variables';
@import '../../style/mixins';

.employeeForm{
    padding: $padding-main-desktop;
    color: $color-grey-dark;

    @include respond(bp-1024) {
        padding: $padding-main-tablet;
    }

    @include respond(bp-768) {
        padding: $padding-main-mobile;
    }

    &__form{
        margin: 0 auto;
        width: 50%;

        @include respond(bp-768) {
            width: 100%;
        }

        & > h2{
            font-size: $fontSize-heading;
        }

        & > div{
            margin-bottom: 1rem;

            & > input, textarea{
                width: 100%;
                border-radius: 10px;
                border: 2px solid $color-grey-light;
                padding: $padding-list;
                font-size: $fontSize-button;
            }

            & > label{
                font-size: $fontSize-button;
                font-weight: bold;

                & > ul{
                    display: flex;
                    flex-wrap: wrap;
                    gap: 1rem;
                    margin-top: 1rem;
                }
            }

            & > div{
                font-size: $fontSize-button;
                color: $color-red;
            }
        }
    }

    &__dropdown{
        display: inline-block;
        position: relative;
        background-color: transparent;
        order: 1px solid $color-grey-dark;
        color: $color-grey-dark !important;
        font-size: $fontSize-button;
        padding: $padding-button;
        order: none;
        cursor: pointer;

        & > img{
            width: 1rem;
        }

        & > div{
            & > div {
                font-size: $fontSize-button;
                padding-top: .5rem;
                padding-left: .5rem;
                cursor: pointer;

                &:hover{
                    border-bottom: 1px solid $color-grey-dark;
                }
            }
        }
    }
}