$color-grey-lighter: rgb(242, 242, 242);
$color-grey-light: rgb(230, 230, 230);
$color-grey-dark: rgb(79, 79, 79);
$color-red: rgb(233, 107, 85);
$color-blue: rgb(105, 191, 194);
$color-green: rgb(74, 201, 81);

$fontSize-button: 1.6rem;
$fontSize-text: 2rem;
$fontSize-heading: 4rem;

$padding-main-desktop: 2.5rem 10rem;
$padding-main-tablet: 2.5rem;
$padding-main-mobile: 1rem;
$padding-list: 1.2rem;
$padding-modal: 3rem;
$padding-modal-large: 15rem;
$padding-button: 1.2rem 2rem;